<h1>Benvenuto</h1>
<p>Sei nella mia home inutile.</p>

<p>Clicca qui per vedere chi siamo
 </p>

   <p>Clicca qui per vedere i nostri prodotti
   <%= link_to 'PRODOTTI', '/home/prodotti' %></p>

   <p>Clicca qui per vedere i nostri servizi
   <%= link_to 'SERVIZI', '/home/servizi' %></p>

   <p>Clicca qui per vedere i contatti
   <%= link_to 'CONTATTI', '/home/contatti' %></p>